/* PrimeReact Styles */
@import "primeicons/primeicons.css";

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


body {
  background-color: #5f3030; 
  background-image: url('/path/to/your/image.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  color: #211f1f; 
  font-family: 'Lexend', Arial, sans-serif;
  margin: 0;
  padding: 0; 
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  line-height: 1.5; 
}


:root {
  --primary-color: #131661;
  --secondary-color: #161627;
  --background-dark: #242424;
  --background-light: #ffffff;
  --text-dark: rgba(0, 0, 0, 0.87);
  --text-light: #ffffff;

  font-family: 'Josefin Sans', Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: var(--secondary-color);
}

button {
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: yellow;
  color: var(--text-light);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: rgb(99, 153, 184);

}
button:focus {
  outline: 5px auto -webkit-focus-ring-color;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  font-weight: 700;
  color: var(--text-light);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-dark: #ffffff;
    --text-light: #213547;
  }
  body {
    background-color: var(--background-dark);
    color: var(--text-light);
  }
  button {
    background-color: #f9f9f9;
    color: var(--text-dark);
  }
  a:hover {
    color: #747bff;
  }
}

.container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 2rem; 
  background: rgba(255, 255, 255, 0.05); 
  border-radius: 10px; 
}


